$xxsm: 375px;
$xsm: 490px;
$sm: 576px;
$md: 688px; //768
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$fhd: 1900px;

$primary-color: #1a1a1a;
$secondary-color: rgb(68, 31, 31);
$tertiary-color: white;
$fourth-color: #4d5e9D;
$foxy-color: rgb(219, 78, 54);
$dark-font: #444444;
$dark-color: #121315;